<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-hybrid"
        version="1.0.0">

    <name>HybridBridge</name>

    <description>
        Simple hybrid bridge example
    </description>

    <author>Holly Schinsky</author>

    <license>MIT</license>

    <keywords>Hybrid, Embedded </keywords>

    <repo>https://github.com/hollyschinsky/HybridBridgePlugin.git</repo>
    <issue>https://github.com/hollyschinsky/HybridBridgePlugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/HybridBridge.js" name="HybridBridge">
        <clobbers target="HybridBridge" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HybridBridge">
                <param name="android-package" value="org.sample.hybrid.HybridBridge" />
            </feature>
        </config-file>
        <source-file src="src/android/org/sample/hybrid/HybridBridge.java" target-dir="src/org/sample/hybrid"/>
    </platform>

</plugin>